@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <h1>Welcome to Mindig Fényes kft</h1>
    <p>
        We are dedicated to maintaining public lighting in our community. If you've noticed a problem with any public light, please let us know.
    </p>
    <p>
        Use the button below to report a problem. Your feedback helps us ensure that our streets remain well-lit and safe.
    </p>
    <a href="/Home/Problemreport" class="btn btn-primary">Report a Problem</a>
</div>
