@model Vizsgafeladat.Entities.Report
<!-- https://medium.com/swlh/how-to-style-a-form-with-html-and-css-96e8d0e46596 -->
<style>


    
    body {
        background-color: whitesmoke;
        color: #333;
        font-family: 'Noto Sans', sans-serif;
    }

    .form-container {
        max-width: 600px;
        margin: 50px auto;
        padding: 30px;
        border: 1px solid white;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
        background: white;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid blueviolet;
        border-radius: 5px;
        font-size: 1em;
    }

    .btn {
        display: block;
        width: 100%;
        padding: 10px 20px;
        font-size: 1.1em;
        border: none;
        border-radius: 5px;
        background-color: blueviolet;
        color: white;
        cursor: pointer;
    }

        .btn:hover {
            background-color: blueviolet;
        }
</style>

<div class="form-container">
    <h2>Jelentse a közvilágítással kapcsolatban észlelt problémát</h2>

    <form asp-action="Problemreport" method="post">
        <div class="form-group">
            <label for="Address">Cím:</label>
            <input type="text" class="form-control" id="Address" name="Address" required>
        </div>
        <div class="form-group">
            <label for="ZipCode">Körzetszám:</label>
            <input type="text" class="form-control" id="ZipCode" name="ZipCode">
        </div>
        <div class="form-group">
            <label for="District">Kerület (ha létezik):</label>
            <input type="text" class="form-control" id="District" name="District">
        </div>
        <button type="submit" class="btn btn-primary">Jelentés elkészítése</button>
    </form>
</div>